---
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import taquileTour from '../../public/images/tour-taquile.jpg';
---
<main class="main-content">
    <section class="container container-features">
        <div class="card-feature">
            <i class="fa-solid fa-ship"></i>
            <div class="feature-content">
                <span>Paseos en Bote</span>
                <p>Disfruta de paseos en bote tradicionales</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-bed"></i>
            <div class="feature-content">
                <span>Alojamientos Auténticos</span>
                <p>Hospédate en casas de la isla</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-hand-sparkles"></i>
            <div class="feature-content">
                <span>Artesanías Únicas</span>
                <p>Compra productos artesanales locales</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-headset"></i>
            <div class="feature-content">
                <span>Atención al cliente 24/7</span>
                <p>Llámanos al 123-456-7890</p>
            </div>
        </div>
    </section>

    <section class="container top-categories">
        <h1 class="heading-1">Explora Nuestras Categorías</h1>
        <div class="container-categories">
            <div class="card-category category-tours">
                <p>Visitas Guiadas</p>
                <span>Ver más</span>
            </div>
            <div class="card-category category-accommodations">
                <p>Alojamientos</p>
                <span>Ver más</span>
            </div>
            <div class="card-category category-crafts">
                <p>Artesanías</p>
                <span>Ver más</span>
            </div>
        </div>
    </section>

    <section class="container top-products">
        <h1 class="heading-1">Productos Destacados</h1>

        <div class="container-options">
            <span class="active">Destacados</span>
            <span>Más recientes</span>
            <span>Más Vendidos</span>
        </div>

        <div class="container-products">
            <!-- Producto 1 -->
            <!--<Card 
                imagePath='src/assets/alojamiento-taquile.jpg'
                altText='Tour Taquile'
                name='Taquile'
                age={20}
            />-->
            <Image src={taquileTour} alt='taquile tour' />
            <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="../../public/images/alojamiento-taquile.jpg" alt="Alojamiento Taquile">
                    <span class="discount">-15%</span>
                    <div class="button-group">
                        <span><i class="fa-regular fa-eye"></i></span>
                        <span><i class="fa-regular fa-heart"></i></span>
                        <span><i class="fa-solid fa-code-compare"></i></span>
                    </div>
                </div>
                <div class="content-card-product">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <h3>Alojamiento Taquile</h3>
                    <span class="add-cart"><i class="fa-solid fa-basket-shopping"></i></span>
                    <p class="price">$100 <span>$120</span></p>
                </div>
            </div>
            <!-- Producto 3 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="../../public/images/artesanias-taquile1.jpg" alt="Artesanías Taquile">
                    <div class="button-group">
                        <span><i class="fa-regular fa-eye"></i></span>
                        <span><i class="fa-regular fa-heart"></i></span>
                        <span><i class="fa-solid fa-code-compare"></i></span>
                    </div>
                </div>
                <div class="content-card-product">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <h3>Artesanías Taquile</h3>
                    <span class="add-cart"><i class="fa-solid fa-basket-shopping"></i></span>
                    <p class="price">$30</p>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <img src="" alt="Galería Taquile 1" class="gallery-img-1">
        <img src="../../public/images/gallery-taquile2.jpg" alt="Galería Taquile 2" class="gallery-img-2">
        <img src="../../public/images/gallery-taquile3.jpg" alt="Galería Taquile 3" class="gallery-img-3">
        <img src="../../public/images/gallery-taquile4.jpg" alt="Galería Taquile 4" class="gallery-img-4">
        <img src="../../public/images/gallery-taquile5.jpg" alt="Galería Taquile 5" class="gallery-img-5">
    </section>

    <section class="container blogs">
        <h1 class="heading-1">Últimos Blogs</h1>

        <div class="container-blogs">
            <div class="card-blog">
                <div class="container-img">
                    <img src="../../public/images/blog-taquile-1.jpg" alt="Blog Taquile 1">
                    <div class="button-group-blog">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span><i class="fa-solid fa-link"></i></span>
                    </div>
                </div>
                <div class="content-blog">
                    <h3>Descubre la Historia de Taquile</h3>
                    <span>29 Noviembre 2023</span>
                    <p>Explora la rica historia de la Isla de Taquile y su gente. Conoce sus costumbres y tradiciones que se han mantenido a lo largo del tiempo.</p>
                    <div class="btn-read-more">Leer más</div>
                </div>
            </div>
            <div class="card-blog">
                <div class="container-img">
                    <img src="../../public/images/blog-taquile-2.jpg" alt="Blog Taquile 2">
                    <div class="button-group-blog">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span><i class="fa-solid fa-link"></i></span>
                    </div>
                </div>
                <div class="content-blog">
                    <h3>Artesanías de Taquile</h3>
                    <span>29 Noviembre 2023</span>
                    <p>Conoce las artesanías únicas de Taquile, elaboradas por los talentosos artesanos locales que mantienen vivas las tradiciones de sus antepasados.</p>
                    <div class="btn-read-more">Leer más</div>
                </div>
            </div>
            <div class="card-blog">
                <div class="container-img">
                    <img src="../../public/images/blog-taquile-3.jpg" alt="Blog Taquile 3">
                    <div class="button-group-blog">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span><i class="fa-solid fa-link"></i></span>
                    </div>
                </div>
                <div class="content-blog">
                    <h3>Viviendo en Taquile</h3>
                    <span>29 Noviembre 2023</span>
                    <p>Descubre cómo es vivir en la Isla de Taquile, desde la perspectiva de sus habitantes y visitantes que se han enamorado de este lugar.</p>
                    <div class="btn-read-more">Leer más</div>
                </div>
            </div>
        </div>
    </section>
</main>
<style>
    .main-content {
        background-color: var(--background-color);
    }

    .container-features {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        padding: 3rem 0;
    }

    .card-feature {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #fff;
        border-radius: 1rem;
        padding: 1.5rem 0;
    }

    .card-feature i {
        font-size: 2.7rem;
        color: var(--primary-color);
    }

    .feature-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .feature-content span {
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--dark-color);
    }

    .feature-content p {
        color: #777;
        font-weight: 500;
    }

    .top-categories {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .container-categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .card-category {
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        gap: 2rem;
    }

    .category-tours {
        background-image: linear-gradient(#00000080, #00000080), url('../../public/images/tour-taquile.jpg');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .category-accommodations {
        background-image: linear-gradient(#00000080, #00000080), url('../../public/images/accommodations-taquile.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .category-crafts {
        background-image: linear-gradient(#00000080, #00000080), url('../../public/images/crafts-taquile.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card-category p {
        font-size: 2.5rem;
        color: #fff;
        text-transform: capitalize;
        position: relative;
    }

    .card-category p::after {
        content: '';
        width: 2.5rem;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .card-category span {
        font-size: 1.6rem;
        color: #fff;
        cursor: pointer;
    }

    .card-category span:hover {
        color: var(--primary-color);
    }

    .top-products {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .container-options {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1rem;
    }

    .container-options span {
        color: #777;
        background-color: #fff;
        padding: 0.7rem 3rem;
        font-size: 1.4rem;
        text-transform: capitalize;
        border-radius: 2rem;
        cursor: pointer;
    }

    .container-options span:hover {
        background-color: var(--primary-color);
        color: #fff;
    }

    .container-options span.active {
        background-color: var(--primary-color);
        color: #fff;
    }

    .container-products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 3rem;
    }

    .card-product {
        background-color: #fff;
        padding: 2rem 3rem;
        border-radius: 0.5rem;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        
    }

    .container-img {
        position: relative;
    }

    .container-img img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .container-img .discount {
        position: absolute;
        left: 0;
        background-color: var(--primary-color);
        color: #fff;
        padding: 2px 1.2rem;
        border-radius: 1rem;
        font-size: 1.2rem;
    }

    .card-product:hover .discount {
        background-color: #000;
    }

    .button-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: -3rem;
        z-index: -1;
        transition: all 0.4s ease;
    }

    .button-group span {
        border: 1px solid var(--primary-color);
        padding: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    .button-group span:hover {
        background-color: var(--primary-color);
    }

    .button-group span i {
        font-size: 1.5rem;
        color: var(--primary-color);
    }

    .button-group span:hover i {
        color: #fff;
    }

    .card-product:hover .button-group {
        z-index: 0;
        right: -1rem;
    }

    .content-card-product {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, min-content);
        row-gap: 1rem;
    }

    .stars {
        grid-row: 1/2;
        grid-column: 1/-1;
    }

    .stars i {
        font-size: 1.3rem;
        color: var(--primary-color);
    }

    .content-card-product h3 {
        grid-row: 2/3;
        grid-column: 1/-1;
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    .content-card-product h3:hover {
        color: var(--primary-color);
    }

    .add-cart {
        justify-self: start;
        border: 2px solid var(--primary-color);
        padding: 1rem;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-cart:hover {
        background-color: var(--primary-color);
    }

    .add-cart i {
        font-size: 1.5rem;
        color: var(--primary-color);
    }

    .add-cart:hover i {
        color: #fff;
    }

    .content-card-product .price {
        justify-self: end;
        align-self: center;
        font-size: 1.7rem;
        font-weight: 600;
    }

    .content-card-product .price span {
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: line-through;
        color: #777;
        margin-left: 0.5rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 30rem);
        gap: 1.5rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery-img-3 {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .specials {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .blogs {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .container-blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .card-blog {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .card-blog .container-img {
        border-radius: 2rem;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .button-group-blog {
        position: absolute;
        bottom: 1.5rem;
        right: -2.5rem;
        display: flex;
        gap: 0.7rem;
        z-index: -1;
        transition: all 0.3s ease;
    }

    .card-blog:hover .button-group-blog {
        z-index: 0;
        right: 1.5rem;
    }

    .button-group-blog span {
        background-color: #fff;
        padding: 1rem;
        border-radius: 50%;
        transition: all 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button-group-blog span i {
        font-size: 1.3rem;
    }

    .button-group-blog span:hover {
        background-color: var(--primary-color);
    }

    .button-group-blog span:hover i {
        color: #fff;
    }

    .content-blog h3 {
        font-size: 1.8rem;
        margin-bottom: 1.7rem;
        color: var(--dark-color);
        font-weight: 500;
    }

    .content-blog h3:hover {
        color: var(--primary-color);
        cursor: pointer;
    }

    .content-blog p {
        margin-top: 1rem;
        font-size: 1.4rem;
        color: #777;
    }

    .content-blog span {
        color: var(--primary-color);
        font-size: 1.3rem;
    }

    .btn-read-more {
        padding: 1rem 3rem;
        background-color: var(--primary-color);
        color: #fff;
        text-transform: uppercase;
        font-size: 1.4rem;
        border-radius: 2rem;
        margin: 3rem 0 5rem;
        display: inline-block;
        cursor: pointer;
    }

    .btn-read-more:hover {
        background-color: var(--dark-color);
    }
</style>