.slider__controls {
    position: relative;
    z-index: 12;

    & .slider__pagination {
        text-align: center;
        margin-top: 50px;

        & .swiper-pagination-bullet {
        width: 13px;
        height: 10px;
        display: inline-block;
        background: #fff;
        opacity: .2;
        margin: 0 5px;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        -webkit-transition: opacity .5s, background-color .5s, width .5s;
        -o-transition: opacity .5s, background-color .5s, width .5s;
        transition: opacity .5s, background-color .5s, width .5s;
        -webkit-transition-delay: .5s, .5s, 0s;
             -o-transition-delay: .5s, .5s, 0s;
                transition-delay: .5s, .5s, 0s;
        }        
    }
        
    & .swiper-pagination-clickable .swiper-pagination-bullet {
        cursor: pointer;
    }

    & .slider__pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: #ffffff;
        width: 40px;
        -webkit-transition-delay: 0s;
             -o-transition-delay: 0s;
                transition-delay: 0s;
    }

    & .slider__button-next, .slider__button-prev {
        position: absolute;
        top: 50%;
        width: 27px;
        height: 44px;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        -webkit-background-size: 27px 44px;
                background-size: 27px 44px;
        background-position: center;
        background-repeat: no-repeat;
    }
}